.footer{
    padding: 4rem 0 2rem 0;
    width: 100%;
    /* padding: 1rem 0; */
    background-color: rgb(52, 52, 56);
    margin-top: -50px;
    position: absolute;
}

.footer-container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  } 

/* .logo{
  
} */

.contacto-info{
    display: flex;
    justify-content: left;
    
}



/* .lefte {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: flex-end;
    margin-top: auto;
} */

.lefte {
    display: flex;
    flex-direction: column; /* Establece la dirección de columna */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    align-items: flex-start;
    text-align: center; /* Alinea el texto al centro horizontalmente */
    margin-left: 20px;
  }
  
  .icons {
    display: flex;
    flex-direction: row; /* Establece la dirección de fila para los iconos */
    justify-content: center; /* Alinea los iconos al centro horizontalmente */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }



  @media screen and (max-width: 800px) {
    .footer {
        display: flex;
       /* position: absolute; */
       justify-content: flex-start;
    }
    

    .footer-container {
        
        grid-template-columns: 1fr;
        margin-top: -20px;
        justify-content: flex-start;
        padding-right: 170px;
    }

    .footer-container > * {
        margin-top: -20px; /* Ajusta este valor según tu preferencia */
    }

 .logo{
    display: flex;
    justify-content: left;
    
} 

.lefte {
    display: flex;
    justify-content: center;
    
}

.icons {
    display: flex;
    
  }

  .titulo {
    color: #fff; /* Color blanco */
}


}

 