.contenedor-postcontacto{
    text-align: center;
    padding: 7rem 0 2rem 0;
}

.contacto{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* .contenedor-icopost{
  margin: 0 auto;
  max-width: 1000px;
  padding: 10 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.contenedor-iconos{
    grid-column: 1; 
    text-align: left;
} */

.mui:hover {
    color: lightgreen;
    transition: all 0.2s ease;
  }

  h4 {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    
  }