.containerr {
    padding: 100rem 100 22rem 100;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    justify-content: center; /* Centrar las columnas horizontalmente */
    align-items: center; /* Centrar las columnas verticalmente */
    gap: 170px; /* Espacio entre las columnas */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    max-width: 1000px; /* Ancho máximo del contenedor */
    padding: 0 0px; /* Relleno del contenedor */
    box-sizing: border-box; /* Incluye el relleno en el ancho máximo */
     /* Opcionalmente, establece una altura para centrar el contenido verticalmente en la ventana gráfica */
    height: 100vh;
    position: relative;
}

.contenedor-1{
  margin-top: -220px;
}

@media screen and (max-width: 800px) {
    .containerr {
      display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará horizontalmente */
  justify-content: center; /* Esto centrará verticalmente */
  padding: 2rem; /* Ajusta el valor de relleno según tus necesidades */
  /* width: 80%; */
  margin: 0 auto;
  grid-template-columns: 1fr;
    
    }

    
    .contenedor-1 {
      padding: 2rem 0 2rem 10;
      margin-top: -200px;
      justify-content: center;
      align-items: center;
      position: absolute;
  }  

  .contenedor-iconos{
    justify-content: center;
    /* width: 80%; */
    margin-left: 10px;
  }

    
    .contenedor-2 {
    /* padding: 2rem 0 2rem 10; */
    margin-top: 300px;
    position: absolute;
}  


.footer{
  padding: 10rem 0 2rem 0;
  width: 100%;
  margin-top: 130px;
  position: absolute;
  /* margin-top: 15px; */
  }

  }
