


.contacto{
    margin-top: -210px;
    margin-bottom: 20px;
    text-align: center;
}

.contenedor-iconos{
  text-align: left;
  
}

/* .mui:hover {
    color: lightgreen;
    transition: all 0.2s ease;
  } */

  h4 {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
  }

  