.header-contact {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc; /* Add a border for the card effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  background-color: #fff; /* Set the background color */
}
  
  .field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 19px;
    color: #555454;
    width: 100%;
  }
  
  .field input[type="text"],
  .field input[type="email"],
  .field textarea {
    min-width: 450px;
    display: block;
    width: 100%;
    padding: 10px; /* Adjust padding for input and textarea as needed */
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Add border for input and textarea */
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical; 
  }
  
  /* input[type="submit"] {
    display: block;
    padding: 8px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
   */
   
  .btn-send {
    min-width: 460px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f07807;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    margin-top: 12px;
  }

  @media screen and (max-width: 600px) {
    .header-contact {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid #ccc; /* Add a border for the card effect */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
      background-color: #fff; /* Set the background color */
    }

  .field input[type="text"],
  .field input[type="email"],
  .field textarea {
    min-width: 350px;
    display: block;
    width: 100%;
    padding: 10px; /* Adjust padding for input and textarea as needed */
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Add border for input and textarea */
    border-radius: 5px;
  }

  .btn-send {
    min-width: 360px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f07807;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    margin-top: 12px;
  }

  }
  

